html {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px 80px;
    font-family: 'Open Sans Condensed';
}

a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

img {
    width: 100%;
    height: 100%;
}

*,*::after,*::before {
    box-sizing: border-box;
}